
<div class="container">
	<div class="panel-body">
		<img src="assets/images/Roonjhun.jpg" alt="MyImage" class="img-thumbnail" width="100" height="100" >
		<strong><p class="text-left">Roonjhun Agarwal</p></strong>
		<a href="mailto:roonjhun.agarwal@gmail.com" target="_blank">
		<strong><p class="text-left">roonjhun.agarwal@gmail.com</p></strong> </a>
	</div>
	<div>
		<h4>Profile Summary</h4>
		<ul class="list-item">
			<li>
				Pursuing Masters in Global Software Development from Hochschule Fulda.
			</li>
			<li>
				Above 3.5 years of experience in the field of Software Development has given me opportunity to work on international projects based on latest technologies and agile methodology.
			</li>
			<li>
				A proactive team player with ability and enthusiasm to learn and work on new technologies and domain solutions.
			</li>
		</ul>
		<h4>Technical Skills</h4>
		<ul class="list-item">
			<li>Technologies - ASP.NET 4.0/3.5/2.0, VB.NET, VB6, XML, HTML, JAVASCRIPT, JQUERY, LINQ, SOAP UI, SSRS Report Server, TIBCO iProcess, TIBCO-AMX </li>
			<li>Database - Microsft SQL Server </li>
			<li>Languages - C# </li>
		</ul>
		<h4>Work Experience</h4>
					<strong>Rolta India Limited - (December,2014 to February,2018)</strong>
					<ul class="list-item">
						<li><strong>Enviornment : </strong>  ASP.NET 4.0/3.5/2.0, Microsoft SQL Server 2012/2008, Javascript, Jquery, LINQ, Ajax, TIBCO Business process model, SSRS reporting server.
						</li>
					
						<li>
							<strong>Tasks Handled:</strong>
								<ul class="list-item"><li>Active Role in independently building functional logics.</li>
									<li>Implementing database queries and stored procedures.</li>
									<li>Implementing web services and also communication with third party services.</li>
								</ul>
						</li>
					</ul>
		<h4>Trainings:</h4>
		<ul class="list-item">
			<li>
				Perceived training in ASP.Net, c# and Microsoft SQL Server and developed e-learning application for a institute in Mumbai, India.
			</li>
			<li>
				HeartSaver First Aid CPR AED course, life supporters institute of Health Science, Mumbai, India.
			</li>
		</ul>
		<h4>Achievements:</h4>
		<ul class="list-item">
			<li>Achieved 'Star Performer of the team' Award for outstanding performance and providing deliverables on time.</li>
		</ul>
	</div>
</div>