
<div class = "panel panel-default">
<div class = "text-center panel-heading">
<h4>Curriculum Vitae</h4>
</div>
<div class="panel-body">
<img src="assets/images/Roonjhun.jpg" alt="MyImage" class="img-thumbnail" width="100" height="100" >
<strong><p class="text-left">Roonjhun Agarwal</p></strong>
<a href="mailto:roonjhun.agarwal@gmail.com" target="_blank">
<strong><p class="text-left">roonjhun.agarwal@gmail.com</p></strong> </a>
</div>
<div style='float:left;padding-top:3px;padding-left:5px;height:auto;width:99%'>
<h4>Profile Summary</h4>
<ul>
<li>
Pursuing Masters in Global Software Development from Hochschule Fulda.
</li>
<li>
Above 3.5 years of experience in the field of Software Development has given me opportunity to work on international projects based on latest technologies and agile methodology.
</li>
<li>
A proactive team player with ability and enthusiasm to learn and work on new technologies and domain solutions.
</li>
</ul>
<h4>Technical Skills</h4>
<dl class = "dl-horizontal">
<dt>Technologies</dt> <dd> - ASP.NET 4.0/3.5/2.0, VB.NET, VB6, XML, HTML, JAVASCRIPT, JQUERY, LINQ,
SOAP UI, SSRS Report Server, TIBCO iProcess, TIBCO-AMX
</dd>
<dt>Database</dt> <dd>- Microsft SQL Server
</dd>
<dt>Languages</dt> <dd>- C#
</dd>

<h4>Work Experience</h4>
<ul>
<li>
<strong>Rolta India Limited - (December,2014 to February,2018)</strong>
</br>
<mark>Enviornment : </mark> <ul><li> ASP.NET 4.0/3.5/2.0, Microsoft SQL Server 2012/2008, Javascript, Jquery, LINQ, Ajax, TIBCO Business process model, SSRS reporting server.</li></ul>
<mark>Tasks Handled:</mark>
<ul><li>Active Role in independently building functional logics.</li>
<li>Implementing database queries and stored procedures.</li>
<li>Implementing web services and also communication with third party services.</li></ul>
</li>
</ul>
<h4>Trainings:</h4>
<ul>
<li>
Perceived training in ASP.Net, c# and Microsoft SQL Server and developed e-learning application for a institute in Mumbai, India.
</li>
<li>
HeartSaver First Aid CPR AED course, life supporters institute of Health Science, Mumbai, India.
</li>
</ul>
<h4>Achievements:</h4>
<ul><li>Achieved 'Star Performer of the team' Award for outstanding performance and providing deliverables on time.</li></ul>
</div>
</div>
